<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <img width="300" alt="MEAN Logo" src="../../../assets/MEAN.jpg">
</div>
<h2>Inspired from: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://itnext.io/choosing-a-highly-scalable-folder-structure-in-angular-d987de65ec7">Architecture in Angular Projects</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://getstream.io/blog/building-a-node-js-powered-api-with-express-mongoose-mongodb/">Building a Node.js Powered API</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.caffeinecoding.com/better-express-routing-for-nodejs/">Better Express Routing for Nodejs</a></h2>
  </li>
</ul>